.Dictionary section {
  background: white;
  border-radius: 10px;
  margin: 20px;
  padding: 40px 10px;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Dictionary .header-question {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.Dictionary .Dictionary-search-engine {
  display: flex;
  justify-content: center;
}
.Dictionary .search-bar {
  border-radius: 30px;
  border: 2px solid #402a23;
  font-weight: bolder;
  padding: 10px 60px;
  width: 100%;
}

.Dictionary .btn-branding {
  border-radius: 30px;
  background: #402a23;
  border: 3px solid #402a23;
  color: white;
  width: 100%;
  padding: 10px 30px;
  font-weight: bolder;
}

.Dictionary .btn-branding:hover {
  transition: all 400ms ease-in-out;
  color: #402a23;
}

.Dictionary .btn-branding:hover {
  border: 3px solid #e0d2be;
  background: #e0d2be;
  color: white;
}

.Dictionary .suggested-words {
  text-align: center;
  margin-top: 20px;
  color: #402a23;
  font-weight: bolder;
  font-size: 12px;
  opacity: 0.5;
}
