.Phonetics {
  margin-bottom: 30px;
}
.Phonetics a {
  border: 2px solid #e0d2be;
  border-radius: 30px;
  color: #402a23;
  font-weight: bolder;
  padding: 10px 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

.Phonetics a:hover {
  background: #e0d2be;
  color: white;
}

.Phonetic-text {
  opacity: 0.5;
  font-weight: bolder;
}
