.Results section {
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Playfair Display", serif;
}

.Results h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  padding: 20px 20px;
}
