.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}
.Synonyms ul {
  padding: 1px 20px;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  font-size: 15px;
  text-align: center;
  color: #394a51;
  list-style: none;
}

@media (max-width: 957px) {
  .Synonyms ul li {
    float: center;
    width: 33.3%;
  }
}
